body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(lightgreen, aqua);
}

#ThankYou{
    font-size: 23pt;
}

#HomeButton{
    position: relative;
    font-size: 22pt; 
    width: 7em; 
    height: 2em; 
    border-radius: 50px; 
    border-style: unset;
}