Body{
    font-family: 'Roboto';
    background-image: linear-gradient(lightgreen, aqua);
}

.OrderForm{
    border-style: groove;
}

#ShopIcon{
    position: relative;
    width: 11%;
    bottom: 8px;
    right: 10px;
}

#titlebar{
    height: 100px;
    border: none;
}

#Title{
    position: relative;
    top: 80px;
    position: center;
}

#TitleST{
    position: relative;
    top: 20px;
    position: center;
}

#TitleS{
    position: relative;
    top: 40px;
}

#TitleT{
    position: relative;
    top: -240px;
    position: center;
}


#PizzaSizes{
    position: relative;
    bottom: 80px;
}

#smallIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -15%;
    bottom: -90px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#smalltext{
    position: relative;
    right: -17.9%;
    top: -110px;
    font-size: 22pt;
    width: 5%;
}

#mediumIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -44.6%;
    bottom: 154px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#mediumtext{
    position: relative;
    width: 5%;
    right: -46.2%;
    bottom: 350px;
    font-size: 22pt;
}

#largeIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -74.6%;
    bottom: 402px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#largetext{
    position: relative;
    width: 5%;
    right: -77.5%;
    bottom: 602px;
    font-size: 22pt;
}

#ToSauces{
    position: relative;
    font-size: 22pt;
    bottom: 300px;
    width: 7em;
    height: 2em;
    border-radius: 50px;
    border-style: unset;
}

#SauceAndToppings{
    border-style: double;
}

#TomatoIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -29%;
    bottom: -44px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Tomatotext{
    position: relative;
    right: -30.7%;
    top: -155px;
    font-size: 22pt;
    width: 5%;
}

#AlfredoIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -60%;
    bottom: 210px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Alfredotext{
    position: relative;
    width: 5%;
    right: -61.9%;
    bottom: 410px;
    font-size: 22pt;
}

#Finish{
    position: relative;
    font-size: 22pt;
    bottom: 1160px;
    width: 7em;
    height: 2em;
    border-radius: 50px;
    border-style: unset;
}

#PepperoniIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -15%;
    bottom: 190px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Pepperonitext{
    position: relative;
    width: 5%;
    right: -15.7%;
    bottom: 390px;
    font-size: 22pt;
}

#SausageIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -30%;
    bottom: 437px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Sausagetext{
    position: relative;
    width: 5%;
    right: -31.3%;
    bottom: 640px;
    font-size: 22pt;
}

#ChickenIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -45%;
    bottom: 682px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Chickentext{
    position: relative;
    width: 5%;
    right: -46.5%;
    bottom: 880px;
    font-size: 22pt;
}

#HamIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -60%;
    bottom: 928px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Hamtext{
    position: relative;
    width: 5%;
    right: -63%;
    bottom: 1130px;
    font-size: 22pt;
}

#PineappleIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -75%;
    bottom: 1172px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Pineappletext{
    position: relative;
    width: 5%;
    right: -75.6%;
    bottom: 1375px;
    font-size: 22pt;
}