Body{
    font-family: 'Roboto';
    background-image: linear-gradient(lightgreen, aqua);
}

#ShopIcon{
    position: relative;
    width: 11%;
    top: 8px;
    right: 10px;
}

#titlebar{
    height: 100px;
    border: none;
}

#Title{
    position: relative;
    top: 80px;
    position: center;
}

#TitleST{
    position: relative;
    top: 20px;
    left: 35px;
    position: center;
}

#TitleS{
    position: relative;
    top: 40px;
}

#TitleT{
    position: relative;
    top: -240px;
    position: center;
}


#PizzaSizes{
    position: relative;
    bottom: 20px;
}

#smallIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -15%;
    bottom: -90px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#checkboxsmall{
    width: 40px;
    height: 40px;
    position: relative;
    top: -220px;
    left: 18.5%;
    visibility: hidden;
}

#checkboxmedium{
    width: 40px;
    height: 40px;
    position: relative;
    top: -460px;
    left: 48.8%;
    visibility: hidden;
}

#checkboxlarge{
    width: 40px;
    height: 40px;
    position: relative;
    top: -545px;
    left: 77.8%;
    visibility: hidden;
}

#smalltext{
    position: relative;
    right: -17.9%;
    top: -110px;
    font-size: 22pt;
    width: 5%;
}

#mediumIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -41.6%;
    bottom: 154px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#mediumtext{
    position: relative;
    width: 5%;
    right: -46.5%;
    bottom: 352px;
    font-size: 22pt;
}

#largeIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -70.6%;
    bottom: 402px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#largetext{
    position: relative;
    width: 5%;
    right: -76.6%;
    bottom: 602px;
    font-size: 22pt;
}

#ToSauces{
    position: relative;
    font-size: 22pt;
    bottom: 2350px;
    width: 7em;
    height: 2em;
    border-radius: 50px;
    border-style: unset;
}

#SauceAndToppings{
    border-style: none;
}

#TomatoIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -29%;
    bottom: -44px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Tomatotext{
    position: relative;
    right: -30.7%;
    top: -155px;
    font-size: 22pt;
    width: 5%;
}

#AlfredoIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -60%;
    bottom: 210px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Alfredotext{
    position: relative;
    width: 5%;
    right: -65.2%;
    bottom: 410px;
    font-size: 22pt;
}

#Finish{
    position: relative;
    font-size: 22pt;
    bottom: 1160px;
    left: 40px;
    width: 7em;
    height: 2em;
    border-radius: 50px;
    border-style: unset;
}

#PepperoniIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -15%;
    bottom: 190px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Pepperonitext{
    position: relative;
    width: 5%;
    right: -19%;
    bottom: 390px;
    font-size: 22pt;
}

#SausageIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -30%;
    bottom: 433px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Sausagetext{
    position: relative;
    width: 5%;
    right: -35%;
    bottom: 633px;
    font-size: 22pt;
}

#ChickenIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -45%;
    bottom: 676px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Chickentext{
    position: relative;
    width: 5%;
    right: -50%;
    bottom: 880px;
    font-size: 22pt;
}

#HamIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -60%;
    bottom: 920px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Hamtext{
    position: relative;
    width: 5%;
    right: -66.5%;
    bottom: 1122px;
    font-size: 22pt;
}

#PineappleIcon{
    width: 10%;
    height: 10%;
    position: relative;
    padding-top: 50px;
    right: -75%;
    bottom: 1164px;
    border: black;
    border-style: ridge;
    box-shadow: 5px 5px 5px;
}

#Pineappletext{
    position: relative;
    width: 5%;
    right: -79.1%;
    bottom: 1370px;
    font-size: 22pt;
}

#checkboxtomato{
    width: 40px;
    height: 40px;
    position: relative;
    top: -270px;
    left: 32.5%;
    visibility: hidden;
}

#checkboxalfredo{
    width: 40px;
    height: 40px;
    position: relative;
    top: -520px;
    left: 67%;
    visibility: hidden;
}

#checkboxpepperoni{
    width: 40px;
    height: 40px;
    position: relative;
    top: -495px;
    left: 22%;
    visibility: hidden;
}

#checkboxsausage{
    width: 40px;
    height: 40px;
    position: relative;
    top: -740px;
    left: 37%;
    visibility: hidden;
}

#checkboxchicken{
    width: 40px;
    height: 40px;
    position: relative;
    top: -990px;
    left: 52%;
    visibility: hidden;
}

#checkboxham{
    width: 40px;
    height: 40px;
    position: relative;
    top: -1230px;
    left: 67%;
    visibility: hidden;
}

#checkboxpineapple{
    width: 40px;
    height: 40px;
    position: relative;
    top: -1320px;
    left: 82%;
    visibility: hidden;
}